@font-face {
  font-family: 'ostrich_sansmedium';
  src: url('./fonts/ostrich-regular-webfont.woff2') format('woff2'),
    url('./fonts/ostrich-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

/*Normalize end*/
:root {
  --primary-color: #d8ab12;
  --secondary-color: #ff869e;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "ostrich_sansmedium";
}

nav {
  display: flex;
  justify-content: right;
  gap: 20px;
  padding: 0px 15px;
  background-color: var(--primary-color);
}

nav button {
  padding: 15px;
  border: none;
  background-color: var(--secondary-color);
  border-bottom: 3px solid gray;
}

nav button.selected{
  border-bottom: 5px solid black;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}